.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-column-elm3 {
  width: 183px;
  height: 237px;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
